.advice-item {
	width: 300px;
	margin: 1rem 0;
	text-align: start;
	padding: 0 1rem;

	@include screen-sm {
		width: 450px;
	}

	@include screen-md {
		width: 32%;
		padding: 0;
	}

	h2 {
		font-size: 1.2rem;
		margin: 0.8rem 0;
		font-weight: bold;

		@include screen-sm {
			font-size: 1.5rem;
		}

		@include screen-md {
			font-size: 1.2rem;
		}
	}

	p {
		font-size: 0.9rem;
		color: #4d4d4d;

		@include screen-sm {
			font-size: 1rem;
		}

		@include screen-md {
			font-size: 0.9rem;
		}
	}
}

.blue {
	background-color: #d4f2f4;
	border-radius: 50%;
	color: #80d6d4;
	padding: 10px;
	margin-left: -0.1rem;
	font-size: 22px;
}

.yellow {
	background-color: #f8ece2;
	border-radius: 50%;
	color: #edbb86;
	padding: 10px;
	margin-left: -0.1rem;
	font-size: 20px;
}

.pink {
	background-color: #f8ddeb;
	border-radius: 50%;
	color: #df7dae;
	padding: 10px;
	margin-left: -0.1rem;
	font-size: 22px;
}
