.form {
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 1rem 2rem;
	border-radius: 10px;
	margin-bottom: 2rem;
	width: 300px;

	@include screen-sm {
		width: 450px;
	}

	@include screen-md {
		width: 700px;
	}

	@include screen-lg {
		width: 500px;
		height: 350px;
		transform: translateY(6rem);
		margin-bottom: 3rem;
	}

	h2 {
		font-size: 1.2rem;
		font-weight: bold;

		@include screen-md {
			font-size: 1.5rem;
		}
	}

	.radio-inputs {
		margin-bottom: 2rem;

		@include screen-lg {
			margin-bottom: 1rem;
		}
		.metric,
		.imperial {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 1rem;

			.radio-btn {
				height: 18px;
				width: 18px;
				accent-color: #325ef5;
			}

			label {
				margin-left: 8px;
				font-size: 18px;
				cursor: pointer;
			}
		}
	}

	.inputs {
		.height,
		.weight {
			width: 100%;
			input {
				width: 100%;
				border: 1px solid #838a94;
				border-radius: 7px;
				padding: 0.6rem 0.5rem;
				font-size: 1.2rem;

				&:focus {
					outline: none;
				}
			}

			label {
				color: #838a94;
			}

			span {
				position: absolute;
				bottom: 8px;
				right: 0;
				padding: 0 0.5rem;
				font-size: 1.5rem;
				font-weight: bold;
				color: #325ef5;
			}
		}

		button {
			background-color: #325ef5;
			padding: 0.7rem 1.5rem;
			border: none;
			border-radius: 10px;
			margin-top: 1rem;
			color: #fff;

			&:hover {
				background: #446ffc;
			}
		}
	}

	.results {
		background: rgb(50, 94, 245);
		background: linear-gradient(
			83deg,
			rgba(50, 94, 245, 1) 0%,
			rgba(86, 123, 253, 1) 99%
		);
		margin-top: 2rem;
		margin-bottom: 1rem;
		padding: 2rem 1.5rem;
		text-align: center;
		border-radius: 5px 5px 20px 20px;

		@include screen-md {
			border-radius: 5px 20px 20px 5px;
		}

		@include screen-lg {
			margin-top: 1.5rem;
		}

		&-index {
			@include screen-md {
				width: 30%;
				margin: -1rem 0;
			}

			p {
				color: #fff;
				font-size: 1.2rem;

				@include screen-md {
					font-size: 1rem;
				}

				@include screen-lg {
					font-size: 0.8rem;
				}
			}

			h2 {
				font-size: 3rem;
				margin: 1rem 0;
				color: #fff;

				@include screen-md {
					margin: 0;
				}

				@include screen-lg {
					font-size: 1.5rem;
				}
			}
		}

		&-ideal {
			font-size: 0.9rem;
			text-align: start;
			color: #fff;

			@include screen-md {
				width: 300px;
				font-size: 1rem;
			}

			@include screen-lg {
				width: 150px;
				font-size: 0.7rem;
			}
		}
	}
}
